.App {
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-radius: 6px;
  padding: 13px;
  width: 350px;
  height: 400px;
}
.container--item {
  max-height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 6px;
}
.container--item::-webkit-scrollbar {
  display: none;
}
.input {
  display: flex;
  justify-content: space-between;
  background: #f1f1f1;
  padding: 3px;
  border-radius: 6px;
}

input {
  border: none;
  background: #f1f1f1;
}
input:focus {
  outline: none;
}
